@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav ul li{
    padding: 0 12px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}


.container{
    min-height: 72vh;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url("bg.jpg");

}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItemContainer{
    margin-top: 74px;
}
.songItem img{
    width: 23px;
    margin: 0 23px;
    border-radius: 34px;
    
}
.timeStamp{
    margin: 0 23px;
}
.timeStamp i{
    cursor: pointer;
}



.bottom{
    display: flex;
    flex-direction: column;
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    justify-content: center;
    align-items: center;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.icons{
    margin: 25px 0 0;
}
.icons i{
    cursor: pointer;
    margin: 5px;
}
.songInfo{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 10vw;
}
#gif{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}


/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Varela Round', sans-serif; */